<%= render "shared/errors"%>

<div class="form-container">
  <h1>Edit Artist Profile</h1>

  <%= form_for @artist do |f| %>
    <div class="form-input">
      <%= f.label :first_name  %>
      <%= f.text_field :first_name  %>
    </div>

    <div class="form-input">
      <%= f.label :last_name  %>
      <%= f.text_field :last_name  %>
    </div>

    <div class="form-input">
      <%= f.label :email  %>
      <%= f.text_field :email  %>
    </div>

    <div class="form-input">
      <%= f.label :password  %>
      <%= f.password_field :password  %>
    </div>

    <%= f.submit %>
  <% end %>
</div>