<h3>Artists</h3>

<h4>Search by Rate: </h4>
<%= form_tag(artists_path, method: :get) do %>
    <%= text_field_tag(:search_by_rate, params[:search_by_rate]) %>
    <%= submit_tag ("Search") %>
<% end %>   

<h4>Search by Location: </h4>
<%= form_tag(artists_path, method: :get) do %>
    <%= text_field_tag(:search_by_location, params[:search_by_location]) %>
    <%= submit_tag ("Search") %>
<% end %>   

<% @artists.each do |artist| %>
    <h4><%= link_to artist.to_s, artist_path(artist) %></h4>
    <ul>
        <li>Specialties:</li> 
            <ul><% artist.specialties.each do |specialty| %>
                <li><%= specialty.name %></li>
            <% end %></ul>
        <li>Location: <%= artist.location %> </li>
        <li>Rate: <%= artist.rate %> </li>
    </ul>   
<% end %>

