<div class="container">
    <div class="row">
    <h1>Artists Index</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
        <h4>Search by Rate: </h4>
        <%= form_tag(artists_path, method: :get) do %>
            <%= text_field_tag(:search_by_rate, params[:search_by_rate]) %>
            <%= submit_tag ("Search"), class: "btn btn-default btn-primary"  %>
        <% end %>   
        </div>
        <% @columns.each do |col| %>
            <div class="col">
            <% col.each do |artist| %>
                <h4><%= link_to artist.to_s, artist_path(artist) %></h4>
                <img alt="thumbnails" src=<%=artist.profile_picture%> class="img-thumbnail">
                <br>
                <li class="index_item">Specialties:</li> 
                    <ul><% artist.specialties.each do |specialty| %>
                        <li class="sub_index_item"><%= specialty.name %></li>
                    <% end %></ul>
                <li class="index_item">Location: <%= artist.location %> </li>
                <li class="index_item">Rate: $<%= artist.rate %> </li>
                <br>
                <br>
            <% end %>
            </div>
        <% end %>   
    </div>
</div>

