<h1>Projects Index</h1>

<h4>Search by Location: </h4>
<%= form_tag(projects_path, method: :get) do %>
    <%= collection_select :search_by_location, params[:search_by_location], Project.all, :location, :location%>
    <%= submit_tag ("Search") %>
<% end %>   

<% @projects.each do |project|%>
<h3><%= link_to project.name, project_path(project)%></h3>
<ul>
    <li>Location: <%= project.location %></li>
    <li>Deadline: <%= project.deadline %></li>
    <li>Creator: <%= project.creator %></li>
</ul>
<% end %>

<%= button_to "Clear Search", projects_path, method: :get%>

.to_formatted(:s)