<div class="container">
    <div class="row">
    <h1>Projects Index</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Search by Location: </h4>
            <%= form_tag(projects_path, method: :get) do %>
            <%= collection_select :search_by_location, params[:search_by_location], @projects.uniq{|proj| proj.location}, :location, :location %>
            <%= submit_tag ("Search"), class: "btn btn-default btn-primary"  %>
            <% end %>  
            <br>
    <%= button_to "Clear this search", projects_path, method: :get, class: "btn btn-default btn-primary" %>

        </div>
        <% @columns.each do |col| %>
            <div class="col">
            <% col.each do |project| %>
                <h2><%= link_to project.name, project_path(project) %></h2>
                <li class="sub_index_item">Location: <%= project.location %></li>
                <li class="sub_index_item">Deadline: <%= project.deadline.to_formatted_s(:long) %></li>
                <li class="sub_index_item">Creator: <%= project.creator %></li>
                <br>
                <br>
            <% end %>
            </div>
        <% end %>   


    </div>
</div>