<h2><%= @project.name %></h2>

<h4>Location: <%= @project.location %> </h4>
<h4>Description: <%= @project.description %> </h4>
<h4>Project Deadline: <%= @project.deadline %> </h4>
<h4>Location: <%= @project.location %> </h4>