<%= render "shared/errors" %>
    
<h1> Edit Your Profile </h1>

<%= form_for @creator do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :bio %>
    <%= f.text_area :bio %>

    <%= f.label :profile_picture_url %>
    <%= f.text_area :profile_picture %>
 
    <%= f.submit %>
<% end %>