<%= render "shared/errors" %>
    
<div class="form-container">
    <h1> Edit Your Profile </h1>

    <%= form_for @creator do |f| %>
    <div class="form-input">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    </div>

    <div class="form-input">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    </div>

    <div class="form-input">
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>

    <div class="form-input">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

    <div class="form-input">
        <%= f.label :bio %>
        <%= f.text_area :bio %>
    </div>
 
  <%= f.submit %>
<% end %>

</div>