<h4>Name: <%=@creator.to_s%> </h4> 
<img alt= "profile pic" src=<%=@creator.profile_picture%> ></h4> 
<h4>Email: <%=@creator.email%> </h4> 
<h4>Bio: <%=@creator.bio%> </h4> 
<% if @current_creator %>
  <% if @current_creator.id == @creator.id %>
    <%= button_to "Edit Profile", edit_creator_path(@creator), method: :get, class: "btn btn-default btn-primary" %>
    <br>
    <%= button_to "Delete Profile", creator_path(@creator), method: :delete, class: "btn btn-default btn-primary"%>
    <br>
    <br>
  <% else %>
    <%= button_to "Contact" %>
    <br>
    <br>
  <% end %>
<% end %>

<h3>My Open Projects</h3>
<% @creator.projects.each do |project|%>
<p> <%= link_to project.name, project_path(project)%> <p>
<% end %>
<% if @current_creator %>
  <% if @current_creator.id == @creator.id %>
    <%= button_to "Create a New Project", new_project_path(@creator), method: :get, class: "btn btn-default btn-primary" %>
    <br>
    <br>
  <% end %>
<% end %>

<h3>Past Projects</h3>
<% if @creator.past_projects.empty?%>
  <%= "You have no past projects to display"%>
<% else %>
  <% @creator.past_projects.each do |project|%>
    <p><%= link_to project.name, project_path(project) %><p>
  <% end %>
<% end%>

